/* Player 1 Styles */
.player1 {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #e49541;
  width: 220px;
  text-align: center;
}

.player1-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  font-size: 50px;
}

.player1-deck {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 60px;
}

.player1-profile-picture {
  width: 100px;
  height: 100px;
  background-color: #d3ca82;
  border: 1px solid #000000;
  border-radius: 50%;
  line-height: 100px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
}

.player1-hand,
.player2-hand {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: rgb(62, 126, 132);
  width: 150px;
  height: 180px;
  text-align: center;
}

/* Player 2 Styles */
.player2 {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: #1f65ab;
  width: 220px;
  text-align: center;
}

.player2-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  font-size: 50px;
}

.player2-deck {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 60px;
}

.player2-profile-picture {
  width: 100px;
  height: 100px;
  background-color: #13b4ff;
  border: 1px solid #000000;
  border-radius: 50%;
  line-height: 100px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
}

#display-winner {
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
}

/* Play Button Styles */
.play-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.play-btn:hover {
  background-color: #0056b3;
}

.reset-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.reset-btn:hover {
    background-color: #0056b3
}
/* card styles */
.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.heart,
.diamond {
  color: red;
}
.spade,
.club {
  color: black;
}

body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  font-size: 7rem;
}
